* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  color: #333;
  line-height: 1.6;
}

li {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

form {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input[type="text"] {
  width: 60%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(144, 90, 198);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.ai-feedback {
  font-size: 1.5rem;
}
.header {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

p {
  margin-top: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


h3 {
  margin: 1rem 0;
  color: #333;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  animation: fadeIn 2s ease-out forwards;
  text-align: center;
  justify-self: center;
}


.feedback-container {
  max-width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 5px 25px rgba(227, 122, 10, 0.1);
  border-radius: 20px;
}

.no-response {
  text-align: center;
}
.ReactMarkdown {
  text-align: left;
}


@media (max-width: 768px) {
  input[type="text"] {
    width: 80%;
  }

  .feedback-container {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  form {
    flex-direction: column;
  }

  input[type="text"] {
    width: 90%;
    margin-bottom: 1rem;
  }
}
/* Loading Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 2rem auto;
}
